.sidebar {
  height: 100%;
}

.sidebar-title {
  font-size: 2.5vw;
  text-align: center;
  word-break: keep-all;
  font-weight: bolder;
}

.ecplise-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
